# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environments
.venv/
env/
.antenna/

# OS
.DS_Store
Thumbs.db

#csv files due to size
*.csv